/* Responsive video */
.field-item .embedded-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.field-name-field-video-video .field-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End responsive video */

@media (min-width: 600px) {
  .view-video .field-name-field-video-video {
    float: left;
  }
}
